/*--- heading text color: #E74C3C; --*/
/*Colorz:

[3:33] 
heading text color: #E74C3C ;
------       links color: #8e44ad ;*/


body {
	box-sizing: border-box;
	font-family: 'Lato', Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #E74C3C;
}

.allContentWrap {
	width: 95%;
	margin: 0 auto;
}

.bodyWrap {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.awardInfoBar {
	border-top: 2px solid rgba(76, 76, 76, .5);
	border-bottom: 2px solid rgba(76, 76, 76, .5);
	background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 89%,rgba(214,214,214,1) 100%);
}

.awardInfoBar ul {	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-left: 0;
}
.awardInfoBar li {
	list-style: none;
	display: inline;
}

#service::before {
	content: url('../images/24hr.png');
}

#innovation::before {
	content: url('../images/inno.png');
}

#cleanliness::before {
	content: url('../images/vac.png');
}

.awardImagesSection {
	width: 25%;
	padding: 2%;
	border: 5px solid #8e44ad;
	background: #8e2c21;
	border-radius: 1%;
}

.awardImagesAside {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.awardImagesAside img {
	height: 20%;
	width: 20%;
	padding: 5%;
}

.awardInfoBody {
	width: 70%;
}

#table {
	width: 90%;
	margin: 0 auto;
}

#tableHeader {
	background: #8e44ad;
}

#tableHeader th {
	color: #E74C3C;
}

#tableBody {
	background-color: rgba(190, 190, 190, 1.0);
}

#tableBody td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	height: 25px;
	border-top: 2px solid rgba(76, 76, 76, .5);
}

#trService::before {
	content: url('../images/24hr.png');
}

#trInnovation::before {
	content: url('../images/inno.png');
}

#trCleanliness::before {
	content: url('../images/vac.png');
}


.masterFooter {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-flow: column wrap;
	border-top: 5px solid #8e44ad;
	background: #8e2c21;
	margin-top: 5%;
}

.footerHeading {
	margin: 0 auto;
	margin-bottom: -25px;
}

.footerInfo {
	margin: 0 auto;
	color: white;
}
